[submodule "libraries/TinyGPSPlus"]
	path = libraries/TinyGPSPlus
	url = https://github.com/mikalhart/TinyGPSPlus.git
[submodule "libraries/AXP202X_Library"]
	path = libraries/AXP202X_Library
	url = https://github.com/lewisxhe/AXP202X_Library.git
[submodule "libraries/Button2"]
	path = libraries/Button2
	url = https://github.com/lewisxhe/Button2.git
[submodule "libraries/esp8266-oled-ssd1306"]
	path = libraries/esp8266-oled-ssd1306
	url = https://github.com/ThingPulse/esp8266-oled-ssd1306.git
